<h1>Surf Data Report</h1>
<figure>
  <img id="title_image" src="https://www.surfertoday.com/images/jamp/page/glossary-of-surfing.jpg">
  <figcaption id="caption">Image Source: https://www.surfertoday.com/images/jamp/page/glossary-of-surfing.jpg</figcaption>
</figure>  

<div id="div_nav_menu">
  <ul id="nav_menu">
    <li><a href="/" class="btn">Home</a>
    <li><a href="/weather-data" class="btn">Snow Weather Data</a>
    <li><a href="/surf-data" class="btn">Surf Conditions Data</a>
    <li><a href="/location-page" class="btn">Location Finder</a>
  <ul>
</div>

<h2>Data Overview</h2>
<div id="div_meta">
   <ul id="meta">
     {{#each metaData}}
       <li>{{this}}
     {{/each}}
   </ul>
</div>

<h2>Forecast</h2>
<div id="div_surf_table">
  <table id="surf_table">
    <tr>
      <th>Day and Time</th>
      <th>Air Temperature (C)</th>
      <th>Swell Direction</th>
      <th>Swell Height (m)</th>
      <th>Swell Period (s)</th>
      <th>Water Temperature (C)</th>
      <th>Wind Direction</th>
      <th>Wind Speed (m/s)</th>
    </tr>
    {{#each surfData}}
      <tr>  
        <td>{{this.time}}</td>
        <td>{{this.airTemp}}</td>
        <td>{{this.swellDir}}</td>
        <td>{{this.swellHeight}}</td>
        <td>{{this.swellPeriod}}</td>
        <td>{{this.waterTemp}}</td>
        <td>{{this.windDir}}</td>
        <td>{{this.windSpeed}}</td>
      </tr>
    {{/each}}  
  </table>
</div>

<h2>External Surf Forecast Tool</h2>
<div id="surf_link">
  <a href="/magic-seaweed" class="btn">External Surf Data Report</a>
</div>

