<h1>Ski Conditions</h1>
<figure>
  <img id="title_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg/1200px-Ski_Famille_-_Family_Ski_Holidays.jpg">
  <figcaption id="caption">Image Source: https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg/1200px-Ski_Famille_-_Family_Ski_Holidays.jpg</figcaption>
</figure>  


<div id="div_nav_menu">
  <ul id="nav_menu">
    <li><a href="/" class="btn">Home</a>
    <li><a href="/weather-data" class="btn">Snow Weather Data</a>
    <li><a href="/surf-data" class="btn">Surf Conditions Data</a>
    <li><a href="/location-page" class="btn">Location Finder</a>
  <ul>
</div>  

<h2>Data Overview</h2>
<div id="div_meta">
  <ul id="meta">
    {{#each metaData}}
      <li>{{this}}
    {{/each}}
  </ul>  
</div>  

<h2>Forecast</h2>
<div id="div_ski_table">
  <table id="ski_table">
    <tr>
      <th>Date and Time</td>
      <th>Temperature (C)</td>
      <th>Snow Fall (m)</th>
      <th>Wind Direction</td>
      <th>Wind Speed (m/s)</td>
    </tr>  
    {{#each skiData}}
      <tr>
        <td>{{this.time}}</td>
        <td>{{this.airTemp}}</td>
	<td>{{this.snowDepth}}</td>
        <td>{{this.windDir}}</td>
        <td>{{this.windSpeed}}</td>
      </tr>  
    {{/each}}  
  </table>  
</div>

<h2>External Weather Forecasting Tool</h2>
<div id="weather_link">
  <a href="/weather-link" class="btn">NOAA Weather Forecasting</a>
</div>  
